[Unit]
Description=GET ECC Soap Server

[Service]
ExecStart=/daq/GET/latest/software/pkg/bin/getEccSoapServer --config-repo-url /daq/Configs
Environment="LD_LIBRARY_PATH=/daq/GET/latest/software/pkg/lib:$LD_LIBRARY_PATH"
Restart=always

[Install]
WantedBy=multi-user.target
